<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/main.css">


    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>
</head>

<body>
<div class="navbar" style="background:#2b303b url(https://clients.kapow.com/assets/background_tile_blue-4e0649ed458aec26e6ca641335211c2b.png) repeat bottom center; padding-bottom: 35px;">
    <div class="col-md-2">
        <img src="https://clients.kapow.com/assets/kapow_logo-1d96e49f83a10326dfd08507fa2af88d.svg" style="width: 153px; margin-top:25px;"/>
    </div>
    {% block header_name %}
    <div class="col-md-3">
        <h1 style="color:#eee; margin-left:-55px; margin-top: 22px; font-size: 2rem">CAMster Wheel</h1>
    </div>
    <div class="col-md-7 right-header bounce">
      Lauren Beegal
    </div>
    {% endblock %}
</div>
<hr></hr>
{% block content %}
{% endblock %}
</body>
