<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/main.css">


    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>
</head>

<body>
<div class="navbar" style="background-color: #f7f9f9;
    border-bottom: 1px solid #ddd;
        padding: 1em 0;
                width: 100%;
                    z-index: 9999; color: #677078;">
    <div class="col-md-1">
        <img src="https://app.hireology.com/images/hireology-logo.svg" style="height: 75px;"/>
    </div>
    {% block header_name %}
    <div class="col-md-3">
        <h1 style="margin-left:-55px; margin-top: 22px; font-size: 2rem">Sad Scientists</h1>
    </div>
    <div class="col-md-7 right-header bounce">
      Call them!
    </div>
    {% endblock %}
</div>
<hr></hr>
{% block content %}
{% endblock %}
</body>
